 <div class="content-page tabcontent" id="tabAuth">
            <div class="content-code"></div>
            <div class="content">
                <div class="overflow-hidden content-section">
                    <h1>Auth Transacsions</h1>
                    <p>The user performs the login, sign up and account delete operations with the following examples.</p>
                </div>
                <div class="overflow-hidden content-section">
                    <h2>LOGIN</h2>
                    <pre><code>
#Request Example
POST {{ apiUrl }}login
{
    "UserIdentityNo": 1,
    "UserPassword": "password"
}       
Result Example:
{
    "result": {
        "UserID": 15,
        "UserFirstName": "STA",
        "UserLastName": "PROJECT",
        "UserPassword": "password",
        "UserIdentityNo": 1,
        "UserEmail": "info@sta.com",
        "UserPhone": "05555555555",
        "InstitutionID": 1,
        "UserStatusID": 1
    },
    "token": "SECRET-TOKEN"
}</code></pre>
                    <p>For the user login, you need to make a POST call to the URL below : 
                        <br>
                        <code class="higlighted">{{ apiUrl }}login</code>
                    </p>
                </div>
                <div class="overflow-hidden content-section">
                    <h2>My Account Delete</h2>
                    <pre><code>
#Request Example
DELETE {{ apiUrl }}my-account-delete

Reusult Example:
{
    "message": "Deletion succeeded."
}</code></pre>
                    <p>For the delete my account transaction, you need to make a DELETE call to the URL below. User must login for this operation.: 
                        <br>
                        <code class="higlighted">{{ apiUrl }}my-account-delete</code>
                    </p>
                </div>
                 <div class="overflow-hidden content-section">
                    <h2>Change Password</h2>
                    <pre><code>
#Request Example
PUT {{ apiUrl }}change-password
{
    "UserPassword": "password",
    "UserNewPassword": "newpassword"
}

Reusult Example:
{
    "message": "The user password has been changed successfully."
}</code></pre>
                    <p>For the change password transaction, you need to make a PUT call to the URL below :
                        <br>
                        <code class="higlighted">{{ apiUrl }}change-password</code>
                    </p>
                </div>
                <div class="overflow-hidden content-section">
                    <h2>Role List</h2>
                    <pre><code>
#Request Example
GET {{ apiUrl }}role
        
Reusult Example:
[
    {
        "UserStatusName": "Admin"
    },
    {
        "UserStatusName": "Editor"
    }
]</code></pre>
                    <p>For the role list you need to make a GET call to the URL below. User must login for this operation.: 
                        <br>
                        <code class="higlighted">{{ apiUrl }}role</code>
                    </p>
                </div>
                 <div class="overflow-hidden content-section">
                    <h2>Token Decode</h2>
                    <pre><code>
#Request Example
GET {{ apiUrl }}token-decode

        
Reusult Example:
{
    "UserID": 15,
    "UserStatusID": 1,
    "InstitutionID": 12,
    "iat": 1600884627,
    "exp": 1631988627
}</code></pre>
                    <p>For the token decode, you need to make a GET call to the URL below. User must login for this operation.:
                        <br>
                        <code class="higlighted">{{ apiUrl }}token-decode</code>
                    </p>
                </div>
            </div>
            <div class="content-code"></div>
        </div>